<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>entry</key>
	<dict>
		<key>bundle</key>
		<string>HideMyDockTV</string>
		<key>cell</key>
		<string>PSLinkCell</string>
		<key>detail</key>
		<string>iKARootListController</string>
		<key>icon</key>
		<string>HideMyDockTV.png</string>
		<key>isController</key>
		<true/>
		<key>label</key>
		<string>HideMyDockTV</string>
		<key>description</key>
		<string>I&apos;m a bit shy... but once you get to know me I&apos;m all yours ;).</string>
	</dict>
</dict>
</plist>
